*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-size: 15px;
}
html{
    font-family: Lato;
    line-height: 1.5;
}
.text-white{
    color: #fff !important;
}
#main{
    

}
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);;
}
#nav,.sub-nav{
    list-style-type: none;
}
#nav{
    display: inline-block;
}
#nav li{
    display: inline-block;
    position: relative;
    
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
    padding: 0px 24px;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    display: inline-block;
}
#nav li:hover .sub-nav{
    display: block;
}
#nav > li:hover > a,
#nav .sub-nav li:hover{
    background-color: #ccc;
    color: #000;
}
#nav .sub-nav{
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav .sub-nav li{
    display: block;
}
#nav .sub-nav a{
    color: #000;
    font-size: 15px;
    padding: 0 16px;
    line-height: 38px;
    min-width: 160px;
}
#nav .nav-arrow-down{
    font-size: 14px;;
}
#header .search-btn{
    font-size: 15px;
    float: right;
    color: #fff;
    line-height: 46px;
    padding:0px 24px;
    
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor:pointer;
}
#slider{
    margin-top: 46px;
    position: relative;
    }

.text-content{
    position:absolute;
    color: #fff;
    bottom: 3px;
    padding: 32px 16px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.text-heading{
    margin:10px 0px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-description{
    font-weight: bold;
    margin: 15px 0px;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
#content{
    
}
#content .content-section{
    padding:  64px 16px;
    margin: -3px 101px 0px 101px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    
}
#content .section-heading{
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
    line-height: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content .section-sub-heading{
    text-align: center;
    margin: 15px 0px;
    opacity: 0.6;
    font-style: italic;
}
#content .about-text{
    text-align:justify;
    margin:15px 0px;
}
.team-member{
    padding: 32px 0px;
    overflow: hidden;
}
.member{
    width: 33.3333%;
    float: left;
    text-align: center;
}
.team-member .member .name{
    margin: 15px 0px;
}
.team-member .member .picture{
    margin: 0px 0px 16px;
    width: 60%;
    border-radius: 4px;
    vertical-align: middle;
}
.tour-section{
    background-color: #000;

}
#footer{

}